<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактировать читателя</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/people/{id}(id=${person.getId()})}" th:object="${person}">
    <label for="name">Введите новое ФИО: </label>
    <input type="text" th:field="*{fio}" id="name"/>
    <div style="color: red" th:if="${#fields.hasErrors('fio')}" th:errors="*{fio}"> fio error </div>
    <br/>
    <label for="age">Введите новый год рождения: </label>
    <input type="text" th:field="*{birthDate}" id="age"/>
    <div style="color: red" th:if="${#fields.hasErrors('birthDate')}" th:errors="*{birthDate}"> birthdate error </div>
    <br/>
    <input type="submit" value="Изменить!"/>
</form>

</body>
</html>