<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Редактировать книгу</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/books/{id}(id=${book.getId()})}" th:object="${book}">
  <label for="name">Введите новое название книги: </label>
  <input type="text" th:field="*{name}" id="name"/>
  <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{name}">Name error</div>
  <br/>
  <label for="author">Введите новое имя автора: </label>
  <input type="text" th:field="*{author}" id="author"/>
  <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{author}">author error</div>
  <br/>
  <label for="yearOfProduction">Введите новый год выпуска книги: </label>
  <input type="text" th:field="*{yearOfProduction}" id="yearOfProduction"/>
  <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{yearOfProduction}">year error</div>
  <br/>
  <input type="submit" value="Update!"/>
</form>

</body>
</html>