<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Новая книга</title>
</head>
<body>

<form th:method="POST" th:action="@{/books}" th:object="${book}">
    <label for="name">Введите название книги: </label>
    <input type="text" th:field="*{name}" id="name"/>
    <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{name}">Name error</div>
    <br/>
    <label for="author">Введите имя автора: </label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{author}">author error</div>
    <br/>
    <label for="yearOfProduction">Введите год выпуска книги: </label>
    <input type="text" th:field="*{yearOfProduction}" id="yearOfProduction"/>
    <div style="color: red" th:if="${#fields.hasErrors()}" th:errors="*{yearOfProduction}">yop error</div>
    <br/>
    <input type="submit" value="Добавить"/>
</form>

</body>
</html>